.message-bubble {
    border-radius: 10px;
    display: flex;
    margin: 5px 0;
}

.message-avatar {
    width: 40px; /* Adjust the size as needed */
    height: 40px;
}

.message-header, .message-body {
    margin: 0;
    padding-left: 10px;
}

.word {
    width: auto;
    height: auto;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: inline;
}