.Window {
    background: black;
}

.IndexPage {
    position: fixed;
    z-index: 1;
}

.InitPopUp {
    position: fixed;
    z-index: 101;
}

.AudioPlayer {
    position: relative;
    z-index: 100;
}

.Header {
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 100;
}

.HouseKeeper {
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 100;
}

.Body {
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 100;
}

.hidden {
    display: none;
}

.InitPopUp.fade.show {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
