.Window {
    background: black;
    height: 100dvh;
}

.IndexPage {
    position: fixed;
    z-index: 1;
}

.InitPopUp {
    position: fixed;
    z-index: 102;
}

.AudioPlayer {
    position: relative;
    z-index: 100;
}

.HouseKeeper {
    position: fixed;
    bottom: 20px;
    right: 0;
    z-index: 101;
}

.test-info-particle {
    position: relative;
    z-index: 100;
}

.Header {
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 100;
}

.Body {
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 100;
}

.hidden {
    display: none;
}
