/* Popup.css */
.popup {
    align-items: center;
    vertical-align: center;
    background-color: rgba(0, 0, 0, 1);
    height: 100vh;
}

.popup-content {
    background-color: transparent; /* Transparent background for content */
    color: white; /* White text */
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.enable-audio {
    background-image: url("/public/assets/headphone.png");
    background-size: cover;
    background-position: center;
    width: 256px;
    height: 256px;
    border: none;
    cursor: pointer;
}