.meme-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.meme-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    width: 70%;
}


.form-input-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}


.form-input{
    border-radius: 5px;
    border: 1px solid;
    height: 30px;
    font-size: 18px;
    text-indent: 5px;
}


.form-button{
    height: 40px;
    border-radius: 5px;
    border: black 1px solid;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}

.meme-image{
    max-width: 70%;
    height: auto;
    border-radius: 5px;
}


.created-meme {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.uppertext{
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    top: 0;
    text-shadow:
            2px 2px 0 #000,
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            0 2px 0 #000,
            2px 0 0 #000,
            0 -2px 0 #000,
            -2px 0 0 #000,
            2px 2px 5px #000;
}


.bottomtext{
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 0 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    bottom: 0;
    text-shadow:
            2px 2px 0 #000,
            -2px -2px 0 #000,
            2px -2px 0 #000,
            -2px 2px 0 #000,
            0 2px 0 #000,
            2px 0 0 #000,
            0 -2px 0 #000,
            -2px 0 0 #000,
            2px 2px 5px #000;
}